header{
    background: url('../../img/shutterstock_144807262-2.jpg');

    .burger{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:30px;
        height:30px;
        cursor: pointer;
        z-index: 8;
        top: 0;
        left: 0;
    }
    .burger span{
        width: 70%;
        height: 2px;
        background-color: white;
        border-radius: 3px;
        margin: 2px 0;
    }
    
}